In [2]:
import numpy as np 
import pandas as pd

In [4]:
tips = pd.read_csv("examples/tips.csv")
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [6]:
tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [8]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [13]:
grouped = tips.groupby(["day", "smoker"])
grouped_pct = grouped["tip_pct"]

grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [15]:
grouped_pct.agg(["mean", "std"])

                 mean       std
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [17]:
grouped_pct.agg([("Average", "mean"), ("standard deviation", np.std)])

              Average  standard deviation
day  smoker
Fri  No      0.151650            0.024355
     Yes     0.174783            0.049553
Sat  No      0.158048            0.039323
     Yes     0.147906            0.060640
Sun  No      0.160113            0.041974
     Yes     0.187250            0.150023
Thur No      0.160298            0.038341
     Yes     0.163863            0.038213

In [24]:
functions = ["count", "mean", "max"]
result = grouped[["tip_pct", "total_bill"]].agg(functions)
result["tip_pct"]

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [25]:
def top(df, n=5, column="tip_pct"):
    return df.sort_values(column, ascending=False)[:n]

In [27]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525

In [29]:
tips.groupby("smoker").apply(top)

            total_bill   tip   day    time  size   tip_pct
smoker
No     232       11.61  3.39   Sat  Dinner     2  0.291990
       149        7.51  2.00  Thur   Lunch     2  0.266312
       51        10.29  2.60   Sun  Dinner     2  0.252672
       185       20.69  5.00   Sun  Dinner     5  0.241663
       88        24.71  5.85  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15   Sun  Dinner     2  0.710345
       178        9.60  4.00   Sun  Dinner     2  0.416667
       67         3.07  1.00   Sat  Dinner     1  0.325733
       183       23.17  6.50   Sun  Dinner     4  0.280535
       109       14.31  4.00   Sat  Dinner     2  0.279525

In [32]:
tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

                 total_bill    tip    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25  Dinner     2  0.142857
       Sat  212       48.33   9.00  Dinner     4  0.186220
       Sun  156       48.17   5.00  Dinner     6  0.103799
       Thur 142       41.19   5.00   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73  Dinner     4  0.117750
       Sat  170       50.81  10.00  Dinner     3  0.196812
       Sun  182       45.35   3.50  Dinner     3  0.077178
       Thur 197       43.11   5.00   Lunch     4  0.115982

In [34]:
frame = pd.DataFrame({"data1": np.random.standard_normal(1000), "data2": np.random.standard_normal(1000)})

In [35]:
frame.head()

      data1     data2
0  0.735512 -0.265216
1 -0.565933 -2.146414
2 -0.071156 -0.181267
3 -0.514501  1.227300
4 -0.022704 -1.147184

In [37]:
quartiles = pd.cut(frame["data1"], 4)
quartiles.head()

0    (0.0328, 1.675]
1    (-1.61, 0.0328]
2    (-1.61, 0.0328]
3    (-1.61, 0.0328]
4    (-1.61, 0.0328]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.259, -1.61] < (-1.61, 0.0328] < (0.0328, 1.675] < (1.675, 3.318]]

In [38]:
def get_stats(group):
    return pd.DataFrame({"min": group.min(),"max": group.max(),"count": group.count(), "mean": group.mean()})

In [39]:
grouped = frame.groupby(quartiles)

In [40]:
grouped

In [42]:
s= pd.Series(np.random.standard_normal(6))
s[::2] = np.nan
s

0         NaN
1    0.494555
2         NaN
3    0.050507
4         NaN
5   -0.248968
dtype: float64

In [44]:
s.fillna(s.mean())

0    0.098698
1    0.494555
2    0.098698
3    0.050507
4    0.098698
5   -0.248968
dtype: float64

In [46]:
states = ["Ohio", "New York", "Vermont", "Florida", "Oregon", "Nevada", "California", "Idaho"]
group_key = ["East", "East", "East", "East", "West", "West", "West", "West"]

data = pd.Series(np.random.standard_normal(8), index=states)
data

Ohio         -2.310530
New York      0.086934
Vermont       0.755867
Florida       0.861930
Oregon       -0.261292
Nevada        0.687739
California    0.540000
Idaho        -1.874224
dtype: float64

In [47]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan

In [48]:
data

Ohio         -2.310530
New York      0.086934
Vermont            NaN
Florida       0.861930
Oregon       -0.261292
Nevada             NaN
California    0.540000
Idaho              NaN
dtype: float64

In [52]:
data.groupby(group_key).size()

East    4
West    4
dtype: int64

In [53]:
data.groupby(group_key).count()
data.groupby(group_key).mean()

East   -0.453889
West    0.139354
dtype: float64

In [54]:
def fill_mean(group):
    return group.fillna(group.mean())

In [55]:
data.groupby(group_key).apply(fill_mean)

East  Ohio         -2.310530
      New York      0.086934
      Vermont      -0.453889
      Florida       0.861930
West  Oregon       -0.261292
      Nevada        0.139354
      California    0.540000
      Idaho         0.139354
dtype: float64

In [59]:
fill_values = {"East":0.5, "West": -1}

In [61]:
suits = ["H", "S", "C", "D"]
card_val = (list(range(1,11)) + [10] *3) *4

base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val, index=cards)

In [62]:
deck.head(13)

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [65]:
def get_suit(card):
    return card[-1]
def draw(deck, n=5):
    return deck.sample(n)

In [67]:
deck.groupby(get_suit).apply(draw, n=2)

C  AC     1
   4C     4
D  AD     1
   2D     2
H  3H     3
   6H     6
S  7S     7
   QS    10
dtype: int64

In [69]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

JC    10
2C     2
4D     4
7D     7
9H     9
AH     1
QS    10
5S     5
dtype: int64

In [70]:
means = data.groupby(group_key).mean()

In [71]:
df = pd.DataFrame({"category": ["a", "a", "a", "a",
 "b", "b", "b", "b"],
 "data": np.random.standard_normal(8),
 "weights": np.random.uniform(size=8)})

In [72]:
df

  category      data   weights
0        a  2.141104  0.982435
1        a  0.766441  0.062869
2        a  1.047906  0.398513
3        a  0.309773  0.884165
4        b  1.324756  0.452080
5        b -1.428269  0.476008
6        b -0.633219  0.391422
7        b -0.476924  0.922938

In [73]:
grouped = df.groupby("category")

In [74]:
def get_wavg(group):
    return np.average(group["data"], weights=group["weights"])

In [75]:
grouped.apply(get_wavg)

category
a    1.221305
b   -0.342928
dtype: float64

In [76]:
close_px = pd.read_csv("examples/stock_px.csv", parse_dates=True,index_col=0)

In [77]:
close_px.info()

<class 'pandas.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

In [78]:
def spx_corr(group):
    return group.corrwith(group["SPX"])

In [79]:
rets = close_px.pct_change().dropna()

In [80]:
def get_year(x):
    return x.year

In [81]:
by_year = rets.groupby(get_year)

In [82]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [83]:
import statsmodels.api as sm 

def regress(data, yvar=None, xvars=None):
    Y=data[yvars]
    X=data[xvars]
    X["intercept"] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [84]:
by_year.apply(regress, yvar="APPL", xvars=["SPX"])

NameError: name 'yvars' is not defined

In [85]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4, 'value': np.arange(12.)})

In [86]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [90]:
g = df.groupby("key")
g.mean()

     value
key
a      4.5
b      5.5
c      6.5

In [91]:
g["value"]

In [92]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [94]:
tips.pivot_table(index="day")

TypeError: dtype 'str' does not support operation 'mean'